@using TheCakeMaker.Models
@model List<TheCakeMaker.Type>

    @{
        ViewBag.Title = "TypePartial";
    }

@foreach ( var item in Model)
{
    <div class="col-md-3 to-animate">
        <div class="fh5co-type">
            <h3 class="with-icon icon-2">@item.name</h3>
            <p>Cookies (bánh quy) là tên gọi chung của loại bánh nho nhỏ giòn rụm, được làm từ bột mỳ, đường, trứng, bơ.</p>
        </div>
    </div>
}



